@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Header*/

.logo{
    width: 60px;
    height: 60px;
}

.navbar-brand{
    position: relative;
    left: 12px;
    top: 11px;
}

.logoInicio{
    display: flex;
    cursor: pointer;
    text-decoration:none;
    transition: all 0.5s;
}

.logoInicio:hover{
    transform: scale(1.1);
}

.nav-link{
    display: flex;
    position: relative;
    left: 22px ;
    transition: all 0.5s;
    cursor: pointer;
}

.nav-link:hover{
    transform: scale(1.1);
}

.header{
    font-family: 'Kanit', sans-serif;
}

.navbar-nav{
    display: flex;
    gap: 30px;
    font-size: 22px;
}

/*Header*/



/*Footer general*/

.footer{
    width: 100%;
    background-color: #000;
}
.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.footer .grupo-1 .contenedor figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .grupo-1 .contenedor figure img{
    width: 100px;
}
.footer .grupo-1 .contenedor h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer .grupo-1 .contenedor p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .grupo-1 .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 45px;
    color: #fff;
    margin-right: 5px;
    background-color: #ebebeb;
    text-align: center;
    transition: all 300ms ease;
    gap: 5px;
}

.footer .grupo-1 .redSocial img{
    display: inline-block;
    text-decoration: none;
    width: 15px;
    height: 15px;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: center;
    transition: all 300ms ease;
}


.footer .grupo-2{
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer .grupo-2 small{
    font-size: 15px;
}

.footer{
    min-width: 250px;
}

.curriculum{
    font-size: 15px;
    color: white;
}

/*Footer general*/

/* Fondo */
.body {
    background-color: rgb(215, 212, 212) ;
}
/* Fondo */



/*Main Index*/

.mainIndex{
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.mainIndex img{
    width: 340px;
    height: 390px;
    position: absolute;
}

.mainIndex h1{
    position: relative;
    bottom: 32%;
    font-family: 'Kanit', sans-serif;
    font-size: 70px;
    color: #000;
}

/*Main Index*/



/* Main Nosotros */

.imagenesNosotros{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.imagenesNosotros img{
    width: 256px;
    height: 161px;
    border: solid 2px black;
}

.tituloNosotros{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 35px;
    color: black;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: #000 3px solid;
}

.copyNosotros{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: black;
    margin: 20px 0;
    padding: 20px;
    font-size: 25px;
}

/* Main Nosotros */



/* Main Servicios */

.flexServicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.flexServicios .cajaServicios{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Kanit', sans-serif;
    color: black;
    width: 90%;
    height: 300px;
    line-height: 120px;
    margin: 20px;
}

.flexServicios .imagenesServicios{
    width: 32%;
    height: 100%;

}

.flexServicios .textoServicios{
    font-family: 'Kanit', sans-serif;
    display: flex;
    position: relative;
    left: 32%;
    bottom:80% ;
    border-top: #000 3px solid;
    width: 68%;
    height: 80%;
    font-size: 2vh;
    text-align: center;
    justify-content: center;
    padding-top: 3%;
    margin-left: 20px;
}

.flexServicios .tituloServicios{
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 68%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

@media (max-width:700px){
    .imagenesServicios{
        display: none ;
    }
    .flexServicios .tituloServicios{
        width: 100%;
        border-bottom: #000 2px solid;
    }
    .flexServicios .textoServicios{
        border-top: #000 0px solid;
        margin-left: 0px;
        width: 100%;
        position: relative;
        left: 0;
        bottom: 3%;
        padding-bottom: 10%;
    }
}

    



/* Main Servicios */


/* Main catalogo */

.imagenesBombas{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.titulosBombas{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding-right: 13px;
    font-family: 'Kanit', sans-serif;
}

.imagenesBombas img{
    width: 220px;
    height: 180px;
}

.textoBienvenidaCatalogo{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    font-family: 'Kanit', sans-serif;
}

.textoBienvenidaCatalogo h1{
    font-weight: bold;
}

.textoBienvenidaCatalogo p{
    padding-top: 30px;
}

.catalogo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
}

.catalogoGeneral{
    display: flex;
    flex-flow: column;
    align-content: space-around;
    padding-top: 80px;
    gap: 30px;
}

/* Main catalogo */


/* Main Contactanos */

.contactos{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 80px;
    align-items:center ;
    width: 600px;
    height: 600px;
    gap: 10px;
    font-family: 'Kanit', sans-serif;
}

.imagenesContacto{
    width: 60px;
    height: 60px;
}

.whatsapp{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.mail{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.iframe{
    display: flex;
    justify-content: baseline;
    padding-left: 30px;
}

.textoContacto{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.textoContacto h1{
    text-align: center;
}

.formulario{
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    border-radius: 4px;
    font-family: 'Kanit', sans-serif;
     position: absolute;
     right: 250px;
     top: 200px;
}

.formulario h4{
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
}

.formulario .llenar{
    width: 100%;
    background-color:white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 10px;
}

.formulario .consulta{
    width: 100%;
    background-color:white;
    text-align: center;
    margin-bottom: 10px;
}

.formulario .boton{
    width: 25%;
    margin-left: 60px;
    border: none;
    background-color: #1f53c5;
    color: white;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

/* Main contactanos */